:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  text-align: left;
  margin: 0 0 1rem;
  padding-left: .5rem;
}

* {
  box-sizing: border-box;
}

#app {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

header {
  background: #ef5350;
  text-align: center;
  margin-bottom: 2rem;

  img {
    padding: 10px;
    width: 250px;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.content {
  display: flex;
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 15px;

  @media (max-width: 991px) {
    flex-direction: column;
  }
}

.filters {
  width: 22%;
  min-width: 22%;
  background: #ef5350;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  position: sticky;
  top: 20px;

  @media (max-width: 991px) {
    position: relative;
    top: 0;
  }

  .search {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;

    input {
      height: 36px;
      width: 100%;
      max-width: 100%;
      padding: 5px 10px;
      border: none;
      border-radius: 10px;

      &:focus {
        outline: none;
      }
    }

    .search__btn {
      position: absolute;
      right: 0;
      color: #000;
      top: 8px;
      right: 10px;
      cursor: pointer;

      svg {
        width: 20px;
      }
    }
  }

  .filterType {
    text-align: left;

    label {
      margin-bottom: .5rem;
      display: block;
    }

    .types {
      display: flex;
      flex-wrap: wrap;
      text-align: left;

      .types__item {
        display: inline-block;
        border: 1px solid #fff;
        padding: 3px 10px 5px;
        border-radius: 15px;
        line-height: 1;
        margin-bottom: 5px;
        margin-right: 5px;
        cursor: pointer;
        transition: all .3s ease;
        text-transform: capitalize;

        &.active {
          background: #fff;
          color: #ef5350;

          &:hover {
            background: #fff;
            color: #ef5350;
          }
        }

        &:hover {
          background: rgba(255, 255, 255, .1);
        }
      }
    }
  }

  @media (max-width: 991px) {
    width: 100%;
    margin-bottom: 2rem;
  }
}

main {
  width: 75%;
  min-width: 75%;
  max-width: 100%;
  margin: 0 auto;

  @media (max-width: 991px) {
    width: 100%;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 15px;
  padding: 10px 10px 20px;
  width: 30%;
  color: #fff;
  margin: 10px 1.5%;
  display: block;

  @media (max-width: 768px) {
    width: 47%;
  }

  @media (max-width: 550px) {
    width: 100%;
    margin: 10px 0;
  }

  &.oculto {
    display: none;
  }

  .card__title {
    margin: 0;
    text-transform: capitalize;
    font-size: 22px;
  }

  .card__subtitle {
    margin: 0;
    opacity: .7;
    font-size: 18px;
  }

  .card__img {
    padding: 0;
    margin: 0;
    height: 170px;

    img {
      height: 100%;
      width: auto;
      vertical-align: bottom;

      &.card__img2 {
        display: none;
      }
    }
  }

  .card__body {
    text-align: left;

    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      li {}
    }
  }

  &.normal {
    background: #A8A878;
    /* Tipo Normal */
  }

  &.fire {
    background: #F08030;
    /* Tipo Fuego */
  }

  &.water {
    background: #6890F0;
    /* Tipo Agua */
  }

  &.grass {
    background: #78C850;
    /* Tipo Planta */
  }

  &.electric {
    background: #F8D030;
    /* Tipo Eléctrico */
  }

  &.ice {
    background: #98D8D8;
    /* Tipo Hielo */
  }

  &.fighting {
    background: #C03028;
    /* Tipo Lucha */
  }

  &.poison {
    background: #A040B0;
    /* Tipo Veneno */
  }

  &.ground {
    background: #E0C068;
    /* Tipo Tierra */
  }

  &.flying {
    background: #A890F0;
    /* Tipo Volador */
  }

  &.psychic {
    background: #F85888;
    /* Tipo Psíquico */
  }

  &.bug {
    background: #A8B820;
    /* Tipo Bicho */
  }

  &.rock {
    background: #B8A038;
    /* Tipo Roca */
  }

  &.ghost {
    background: #705898;
    /* Tipo Fantasma */
  }

  &.dragon {
    background: #7038F8;
    /* Tipo Dragón */
  }

  &.fairy {
    background: #F4B9F4;
    /* Tipo Hada */
  }

  &:hover {
    .card__img {
      .card__img1 {
        display: none;
      }

      .card__img2 {
        display: inline-block;
      }
    }
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  transition: all .3s ease;
  z-index: 999;

  &.oculto {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
  }

  img {
    width: 80px;
    height: auto;
  }
}